font-face {

    /* font-family: HKGrotesk;
    src: url('../font/hk-grotesk/HKGrotesk-SemiBold.otf'); */

    font-family: 'vector';
    src: url('../font/VECTOR_FONT/VECTOR_BOLD_TTF.ttf') format('woff2'),
        /* url('../font/hk-grotesk/HKGrotesk-Light.otf') format('woff');
    font-weight: normal;
    font-style: normal;
    */
}