@font-face {


    font-family: 'vector';
    src: url('../font/VECTOR_FONT/WebFont/vector_bold_ttf-webfont.woff2') format('woff2'),
        url('../font/VECTOR_FONT/WebFont/vector_bold_ttf-webfont.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; */

}